html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
