html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.visually-hidden {
  display: none;
}

.text-none {
  margin: 0;
  padding: 0;
}

.main-header {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  background-color: #ffe27f;
  width: 1160px;
  min-height: 299px;
}

.main-header h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 56px;
  font-family: gilroy;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  transform: translateY(-49%);
  letter-spacing: 0.4px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 33px 60px;
  padding-right: 55px;
}

.site-search {
  margin-top: 5px;
  position: relative;
  display: flex;
  vertical-align: bottom;
  min-height: 47px;
  width: 440px;
}

.site-search input {
  width: 100%;
  border: none;
  background-color: #ffe27f;
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  padding-left: 37px;
  padding-bottom: 16px;
  margin-top: auto;
  margin-bottom: 2px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 36px;
}

.site-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
  color: rgba(0, 0, 0, 1);
  outline: none;
  margin-bottom: 0;
  border-bottom: 2px solid #000000;
}

.site-search button {
  position: absolute;
  right: 0;
  bottom: 0.5px;
  margin: 0;
  padding: 0;
  height: 49px;
  width: 85.5px;
  border: solid 2px #000000;
  background-color: #ffe27f;
  color: #000000;
  font-family: "open Sans";
  font-size: 15px;
  line-height: 36px;
  display: none;
  cursor: pointer;
}

.site-search input:focus~button {
  display: block;
}

.site-search button:hover {
  display: block;
  background-color: #000000;
  color: #ffffff;
}

.site-search button:active {
  display: block;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.site-search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 3px;
  background: #ffe27f url("../img/spritesheet.png") no-repeat;
  width: 16px;
  height: 16px;
  background-position: -5px -84px;
}

.user-navigation {
  margin-left: auto;
  margin-top: 5px;
  display: flex;
  width: 500px;
  padding-right: 4px;
}

.pict-nav {
  text-decoration: none;
  position: relative;
  line-height: 36px;
  color: inherit;
  padding-left: 21px;
  padding-top: 2px;
}

.user-icon {
  margin-right: auto;
  padding-left: 24px;
}

.comparison-icon {
  margin-right: 41px;
  padding-left: 19px;
}

.pict-nav::before {
  content: "";
  position: absolute;
  background: #ffe27f url("../img/spritesheet.png") no-repeat;
  left: 0;
  top: 30%;
}

.basket-icon::before {
  width: 12px;
  height: 12px;
  background-position: -203px -5px;
}

.comparison-icon::before {
  width: 10px;
  height: 10px;
  background-position: -225px -5px;
  transform: translateY(3px);
}

.user-icon::before {
  width: 13px;
  height: 12px;
  background-position: -79px -84px;
}

.header-catalog {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  width: 541px;
  padding-top: 28px;
}

.header-btn-catalog {
  display: flex;
  border: none;
  background-color: inherit;
  height: 22px;
  padding: 0;
  cursor: pointer;
}

.header-catalog-name {
  font-family: Gilroy;
  padding-top: 2px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-icon-catalog {
  position: relative;
  padding: 0;
  margin-left: 8px;
  width: 22px;
  height: 22px;
  background-color: inherit;
  border: none;
}

.header-icon-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: rgba(35, 31, 31, 0.3);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.header-icon-catalog::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: rgba(35, 31, 31, 0.3);
  ;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.header-catalog-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0 60px;
  padding-right: 460px;
  width: 640px;
  left: -60px;
  top: 54px;
  margin-bottom: 0;
  margin-top: 30px;
  background-color: #ffe393;
  min-height: 130px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.header-btn-catalog:focus~.header-catalog-list,
.header-btn-catalog:active~.header-catalog-list,
.header-catalog-list:active,
.header-catalog-list:focus {
  display: flex;
}

.header-catalog-list:hover {
  display: flex;
}

.header-catalog a {
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: inherit;
}

.items-menu {
  width: 200px;
  line-height: 15px;
  padding-bottom: 20px;
}

.end-line:nth-last-child(2) {
  margin-right: 200px;
}

.items-menu:nth-child(3n+2) {
  margin-left: 40px;
}

.header-features {
  line-height: 23px;
  padding-top: 30px;
  width: 502px;
  display: flex;
  justify-content: space-between;
}

.header-features a {
  text-decoration: none;
  color: inherit;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-features a:last-child {
  margin-left: 73px;
}

.activ-nav:hover {
  opacity: 0.6;
}

.activ-nav:active {
  opacity: 0.3;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-bracelets-icon {
  width: 107px;
  height: 65px;
  background-position: -5px -5px;
}

.sprite-camera-icon {
  width: 71px;
  height: 87px;
  background-position: -122px -5px;
}

.sprite-credit {
  width: 156px;
  height: 188px;
  background-position: -225px -25px;
}

.sprite-delivery {
  width: 136px;
  height: 164px;
  background-position: -5px -223px;
}

.sprite-facebook {
  width: 39px;
  height: 38px;
  background-position: -151px -223px;
}

.sprite-htmlacademy {
  width: 27px;
  height: 34px;
  background-position: -200px -223px;
}

.sprite-insta-icon {
  width: 39px;
  height: 38px;
  background-position: -237px -223px;
}

.sprite-monopod-icon {
  width: 86px;
  height: 117px;
  background-position: -286px -223px;
}

.sprite-quadrocopters-img {
  width: 132px;
  height: 69px;
  background-position: -391px -5px;
}

.sprite-twitter {
  width: 38px;
  height: 38px;
  background-position: -31px -84px;
}

.sprite-virtualreality-icon {
  width: 97px;
  height: 55px;
  background-position: -391px -84px;
}

.sprite-warranty {
  width: 171px;
  height: 195px;
  background-position: -533px -5px;
}
